<form class="edit-monster">
  Name: {{input class="name" type="text" value=name}}
  <br>
  <!-- species stuff -->
  <br>
  Level: {{input class="level" type="number" value=level}}
  <br>
  Exp to Next Level: {{input class="exp-to-next-level" type="number" value=expToNextLevel}}
  <br>
  Power: {{input class="power" type="number" value=power}}
  <br>
  Max Hp: {{input class="max-hp" type="number" value=maxHp}}
  <br>
  Defense: {{input class="defense" type="number" value=defense}}
  <br>
  <button {{action "saveChanges"}} class="save-changes submit">Save Changes</button>
</form>