Monster View
<div class="name">Name: {{name}}</div>
<div class="species-name">Species: {{species.name}}</div>
<div class="level">Level: {{level}}</div>
<div class="exp-to-next-level">Experience to next level: {{expToNextLevel}}</div>
<div class="power">Power: {{power}}</div>
<div class="max-hp">Max Hp: {{maxHp}}</div>
<div class="defense">Defense: {{defense}}</div>